.btn1 {
    position : absolute;
    top : 5px;
    font-family: "Courier New";
    z-index: 5000;
    box-sizing: border-box;
    font-size: 16px;
    line-height : 10px;
    color: #EFC369;
    border: 2px solid #D7925F;
    background-color: #1D1F20;
    border-radius: 10px;
    padding: 10px 12px;
    outline: 0px;
    display: inline-block;
    font-weight: bold;
    margin-left: 0px;
    cursor: default;
}

.btn-init {
    right : 120px;
}

.btn-get-convo {
    right : 15px;
}

.btn1:hover {
    color: #D7925F;
    border: 2px solid #EFC369;
    cursor: pointer;
    background-color: black;
}

.btn1:focus {
    color: #EFC369;
    border: 2px solid #D7925F;
    cursor: default;
}

.btn1:active {
    color: yellow;
    border: 2px solid #EFC369;
    cursor: default;
}

.convo-div {
    position : absolute;
    z-index : 5001;
    background : white;
    width : 100vw;
    height : 100vh;
    padding : 15px;
    top : 0px;
    left : 0px;
}

iframe {
    position : absolute;
    width : calc( 100vw - 30px );
    height : calc( 100vh - 30px );
    overflow : scroll;
}

.btn-close {
    position : absolute;
    z-index : 5002;
    width : 35px;
    height : 35px;
    right : 10px;
    top : 10px;
    border-radius: 3px;
    color : black;
    font-size : 20px;
    font-weight : bold;
    border : 2px solid black;
    background : lightGray;
    user-select : none;
    transition: background-color 0.25s ease;
}

.btn-close:hover {
    background : darkGray;
}

.btn-close::after {
    content : "X";
    text-align: center;
    line-height : 35px;
    font-family : "Courier New";
    position : absolute;
    width : 35px;
    height : 35px;
    left : 0px;
    top : 0px;
    width : 100%;
}
